# Data files (so that they are not in a public repo)
data/

# History files
.Rhistory

# R data files from past sessions
.Rdata
.Rproj.user

# Preview of README.md
README.html

# Old files that don't need to be version controlled
zzzOld/

# temportary files related to the manuscript
manuscript/.tmp
